@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
height: 100vh;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
padding-bottom: 100px;
background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);


}
.heading{
font-family: 'Pacifico', cursive;
font-size: 35px;
}
.container{
height: 300px;
width: 800px;
display: flex;
justify-content: space-around;
align-items: center;
}
input{
padding-left: 5px;
font-size: 20px;
height: 36px;
}
.middle,.right{
width: 120px;
}
.switch{
padding: 5px;
margin-top: 25px;
background-color: rgb(226, 252, 184);
border-radius: 50%;
cursor: pointer;
}
.result{
box-sizing: border-box;
width: 800px;
padding-left: 30px;
}
button{
width: 190px;
height: 30px;
border-radius: 19px;
font-weight: bold;
font-size: 20px;
border: 2px solid rgb(0,0,0);
background-color: rgb(176, 255, 106);
cursor: pointer;
}
 button, .switch{
color: rgb(30, 195, 30);
}
p{
font-size: 30px;
}
