
.form-box6{

        max-width: 100%;
        
      
    }
    .form-box6 input, textarea{
        display: block;
        width: 100%;
        border-radius: 50px;
      
        margin: .5vw 0 ;
        border: 10px;
        border-radius: 50px;
        font-size: 19px;
    }
    
    .form-box6 textarea{
        height: 10vh;
       
    }
    .form-box6 input{
        width:60%;
    
    }
  
    
    
    