
.form-box57{
    padding-top: 10px;
padding-bottom: 20px;
    padding-left: 150px;
        max-width: 100%;
      
    }
    .form-box57 input, textarea{
        display: block;
        width: 100%;
        border-radius: 50px;
      
        margin: .5vw 0 ;
        border: 10px;
        border-radius: 50px;
        font-size: 19px;
    }
    
    .form-box57 textarea{
        height: 15vh;
       
    }
    .form-box57 input{
        width:60%;
    
    }
  
    
    
    